body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #3c425f;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}


.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


.container {
    width: 1920px;/*штрина контента*/
    margin: 0 auto;
}

.page {/*грид контенер*/
    display: grid;
    grid-template-areas:/*именуем облсти для грид жлементов*/
        /*1ый столбец  2ой столбец */
        "header  header" /*1ый ряд*/
        "navigation main";/*2ой ряд*/

    grid-template-columns: 260px 1fr;
    grid-template-rows: 80px 1fr;

    min-height: 100vh;/*чтобы подап рижался  к низу при нехватке контента*/
}


.page-header{/*грид элемент, котрый сам грид контенер*/
    grid-area: header;
    display: grid;
    grid-template-columns: 260px 1fr 360px;
    grid-template-rows: 80px;
    align-items: center;


    background-color: #ECF2FF;
}

.logo{
    padding-left: 60px;
    padding-right: 60px;
}

.breadcrumbs-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.breadcrumbs-list__item{
    position: relative; /*галочки позициониовтаь будем относительно этого элемента*/
    margin-right: 40px;

}


.breadcrumbs-list__item::after{/*псевдоэлемент галочка*/
    content: "";
    position: absolute;
    top: 5px;
    right: -20px;

    width: 10px;
    height: 6px;


    background-image: url("../img/arroe-right-menu.svg");
    background-repeat: no-repeat;
    background-size: 10px 6px;
    background-position: center;
}



.breadcrumbs-list__item--active::after{/*у поледнего элемента галочку не тображаем*/
    display: none;
}

.item-link{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #5957DB;
}


.breadcrumbs-list__item--active a{
    color: #666666;
}


.theater-container{
    display: flex;
    align-items: center;
}

.theater{
    display: flex;
    align-items: center;
}

.theater-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    color: #5957DB;

    text-decoration: none;
}

.theater-button{
    width: 30px;
    height: 20px;
    padding: 0;
    border: none;
    background-image: url("../img/Arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}






/*навигация*/

.page-menu{/*грид элемент(навигация), котрый сам грид контенер*/
    grid-area: navigation;/*название области*/

    display: grid;
    grid-template-rows: 1fr 62px;
    grid-template-columns: 260px;/**/

    padding-bottom: 40px;
    background-color: #5957DB;

}



.page-menu__list{
    padding-top: 20px;
}

.page-menu__item{

}

.page-menu__item--active{
    margin-left: 30px;
    background-color: #ECF2FF;

    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
}



.page-menu__link,
.page-menu-tools__link{/* a */
    display: flex; /*тогда псевдоэлемнет иконка будет флекс элементом*/
    align-items: center;
    padding: 20px 50px;


    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #ffffff;
}


.page-menu__link::before{/*псевдоэлемент иконка ведет себя как флекс элемент */
    content: "";

    width: 18px;
    height: 22px;
    margin-right: 10px;

}

.page-menu__link--active{
    padding-left: 20px;
}



.page-menu__link--item1::before{
    background-image: url("../img/item1.svg");
    background-repeat: no-repeat;
    background-position: top left;
}

.page-menu__link--item2::before{
    background-image: url("../img/item2.svg");
    background-repeat: no-repeat;
    background-position: top left;
}


.page-menu__link--item3::before{
    background-image: url("../img/item3.svg");
    background-repeat: no-repeat;
    background-position: top left;
}


.page-menu__link--item4::before{
    background-image: url("../img/item4.svg");
    background-repeat: no-repeat;
    background-position: top left;
}



.page-menu__link--item5::before{
    width: 22px;
    height: 22px;
    background-image: url("../img/item5.svg");
    background-repeat: no-repeat;
    background-position: top left;
}



.page-menu-tools__link::before{/*псевдоэлемент иконка ведет себя как флекс элемент */
    content: "";

    width: 40px;
    height: 40px;
    margin-right: 10px;

    background-image: url("../img/item6.svg");
    background-repeat: no-repeat;
    background-position: top left;

}




.page-main{/*грид элемент, котрый сам грид контейнер*/
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 360px;
    grid-template-areas: "choice result"; /*одна стока, 2 столбца*/
}

.choice{/*грид элемент*/
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 60px;
}

.buttons-container{
    display: flex;
    margin-bottom: 60px;
}


.calendar-button{
    background-color: #ECF2FF;
    border-radius: 8px;
    padding: 50px 35px;

    border: none;
}

.calendar-button--prev{
    margin-right: 30px;
    background-image: url("../img/arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 22px;
}

.calendar-button--next{
    margin-left: 30px;
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 22px;
}

.calendar-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}



.calendar-list__item{
    width: 300px;
}


.calendar-list__button{/*кнопка*/
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #ECF2FF;
    border-radius: 8px;

    border: none;
}

.calendar-list__button:active{
    border: none;
}


.calendar-date{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #5957DB;
}



.calendar-day{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #5957DB;
}


.calendar-list__item--current{
    background-color: #43D000;
    box-shadow: 0px 8px 20px rgba(67, 208, 0, 0.6);
}

.calendar-list__item--current .calendar-date{
    color: #ffffff;
}

.calendar-list__item--current .calendar-day{
    color: #ffffff;
}

.section-2d, .section-3d{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.section-3d{
    margin-bottom: 160px;
}

.choice-label{
    margin-right: 83px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;


    text-transform: uppercase;

    color: #666666;
}

.time-list{
    display: flex;

}


.time-list__item{
    margin-right: 30px;
}


.time-list__item span{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;


    text-align: center;

    color: #5957DB;
}

.time-list__button{
    padding: 20px 30px;
    border-radius: 30px;
    background-color: #ECF2FF;
    border: none;
}

.time-list__button--current{
    background-color: #43D000;
    box-shadow: 0px 8px 20px rgba(67, 208, 0, 0.6);

}


.time-list__button--current span{
    color: #ffffff;
}


.seat-container{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.last{
    margin-bottom: 80px;
}

.choice{
    display: grid;
    grid-area: 
}

.choice-label__row1{
    margin-right: 283px;
}


.choice-label__row2{
    margin-right: 60px;
}

.seat-list{
    display: flex;
    justify-content: center;
    align-items: center;
}


.seat-list__item{
    margin-right: 30px;
}


.seat-list__button{
    width: 80px;
    height: 80px;

    background-image: url("../img/seat.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: #ffffff;
    color: #CCDAF4;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;


    text-align: center;
    text-transform: uppercase;

    color: #CCDAF4;
}

.seat-list__button--free{

    color: #5957DB;
    background-image: url("../img/chair-free.svg");
}


.seat-list__button--active{
    color: #ffffff;
    background-image: url("../img/chair-active.svg");

}


.set-param-list{
    display: flex;
    align-items: flex-end;
    padding-left: 30px;
}

.set-param{
    margin-right: 72px;
    position: relative;/*чекбокс относительно этого эдемента позиционируем*/
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #666666;

}


.set-param::before{
    content: "";
    position: absolute;

    width: 24px;
    height: 24px;
    top:-5px;
    left: -30px;
    border-color:#ECF2FF;
    border-radius: 4px;
}

.seat-param--occupied::before{
    background-color: #ffffff;
    border: 2px solid #ECF2FF;
    box-sizing: border-box;
}

.seat-param--free::before{
    background-color: #ECF2FF;
}

.seat-param--current::before{
    background-color: #43D000;
}

.result{/*грид элемент*/
    grid-column: 2/3;
    grid-row: 1/2;

    background-color: #ECF2FF;
}

.ticket-param-container{
    padding: 30px 60px;
    background-color: #5957DB;

}

.ticket-wrapper{


}

.ticket-param-container__header{
    display: flex;
    justify-content: space-between;
    padding: 30px;

    background-color: #43D000;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 8px 8px 0px 0px;

}


.ticket-param-container__info{
    padding: 30px;
    background-color: #ffffff;

}


.ticket-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.ticket-container__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.ticket-container__item:last-child{
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 2px dashed #ECF2FF;
}


.ticket-container__item:first-child .item-header{
    margin-left: auto;
    margin-right: 20px;
}

.item-header{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #AAAAAA;
}

.item-body{
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}

.ticket-param-container__backode{
    background-color: #ffffff;
    padding: 30px;
    padding-top: 0; 
    border-radius: 0px 0px 8px 8px;
}


.payment-container{
    padding: 60px;
}

.payment-container h3{
    margin-bottom: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    background-color: #5957DB;
    box-shadow: 0px 8px 20px rgba(89, 87, 219, 0.6);
    border-radius: 8px;
    margin-bottom: 20px;
}

.card__logo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.card__logo p{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.card__number{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card__number span{
    font-family: "Courier New", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;

}

.card__info{
    display: flex;
    justify-content: space-between;

}


.card__info p{
    font-family: "Courier New", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
}

.payment-add-button{
    width: 100%;/*ширина такая же как и у родителя*/
    padding: 22px 112px;
    margin-bottom: 60px;
    border: 2px solid #CCDAF4;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #ECF2FF; 

    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 16px;
}

.result-button{
    width: 100%;/*ширина такая же как и у родителя*/
    padding: 20px;
    min-height: 60px;/*нсли тектс будем добавлять еще на кнопке, то чтобы он не выпал из кнопки*/
    background-color: #43D000;
    border-radius: 30px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}
