body {
    margin: 0;
    padding: 0;
    min-width: 1520px;
    font-family: "Forum", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    background-color: #3b181b;

    background-image: url("../img/promo.png");
    background-repeat: no-repeat;
    background-position: top center;/*вверху по центру*/
    background-size: 100% 1025px;

}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Forum", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
    border: 1px solid #ffffff;



}

.section-title{
    text-align: center;
    
}



.container {
    width: 1180px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
