body {
    margin: 0;
    padding: 0;
    min-width: 1180px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #8E80A9;
    background-color: #ffffff;/*transparent;/**/

    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: top center;/*вверху по центру*/
    background-size: 100% 903px;

}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    background-color: #8E80A9;

    color: #FFFFFF;
    border: 1px solid #ffffff;



}

.section-title{
    font-family: "Abhaya Libre", "Arial", sans-serif;
    text-align: center;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;


}

.container {
    width: 1160px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.main-header__nav-wrapper{
    display: flex;
    align-items: flex-start;
    padding-top: 50px;
}

.main-header__logo{
    display: inline-block;
    width: 126px;
    height: 48px;


}

.site-navigation{
    display: flex;

    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 665;/*чтоб не было переполнения*/
    margin-top: 18px;
    margin-left: 108px;
}

.site-navigation__item{
    margin-right: 30px;

}


.site-navigation__link{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-transform: uppercase;
    color: #8B7EAC;

    text-shadow: 0px 0px 20px #ECE7EC;
}

.phone{/*флекс элемнет */
    margin-left: auto;/*флекс элемнет прижмется  кправому краю*/
    margin-top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    color: #8B7EAC;
}

.title-wrapper{
    display: flex;
    flex-direction: column;

    margin-top: 121px;
    padding-bottom:  131px;
    margin-left: 160px;


}

.promo-text{
    margin-top: 80px;
    margin-right: 20px;
    margin-bottom: 15px;

    font-family: "Caveat";
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 0px;



}

.promo-title{
    font-weight: 500;
    font-size: 265px;
    line-height: 265px;
    letter-spacing: 0.2em;
    color: #ffffff;
    text-transform: uppercase;
}

.promo-link{
    display: flex;/*чтобы кнопку-псевдожлемент был флекс элементом*/
    align-items: center;
    margin: 0 auto;
    width: 300px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #E65C7B;
}


.promo-link::before{ /*псевдоэлемент, корый является флекс элементом*/
    content: "";
    width: 56px;
    height: 48px;

    flex-shrink: 0;
    background-color: #e65e7b;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px 17px;

    margin-right: 10px;
}


.promo-city{
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    font-style: normal;
}

.main-navigation-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.social-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}

.yoga-groups{
    padding-top: 100px;
    padding-bottom: 40px;
    /*посомтеть в customer developers как располагали несколкьо фонов*/
    /*background-image: url("../img/flower-2.svg"),
    url("../img/flower-3.svg");
    background-position: center, bottom right;
    background-repeat: no-repeat;
    background-size: ;
    background-color: transparent;*/

}


.yoga-groups-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;

    margin-left: 73px;
    margin-top: 38px;
    height: 670px;

}


.yoga-groups-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 30px;
    background: #ffffff;
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
}

.yoga-groups-item img{
    object-fit: cover;
    width: 100%;
}

.yoga-groups-wrapper{
    padding: 20px;
}

.yoga-groups-item-title {
    margin-bottom: 10px;
    font-family: "Abhaya Libre", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: #8e80a9;
}

.yoga-groups-item-timetable {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #8e80a9;
}

.yoga-groups-item-wrapper {
    display: flex;
    justify-content: space-between;

}

.yoga-groups-name-instructor{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #E65C7B;
}

.yoga-groups-item-instructor {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #e65e7b;
}


.yoga-groups-item-link {/*флекс элемент*/
    flex-shrink: 0;
    width: 45px;
    height: 30px;

    background-color: #8e80a9;
    background-image: url("../img/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px 13px; /* размеры стрлочки*/
}



.abonements{
    padding-bottom: 50px; 
    background-image: url("../img/bg-price.png");
    background-position: center;
    background-size: 100% 836px;
    background-repeat: no-repeat;
}

.abonements__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;/*чтоб спсиок центровался*/
    align-items: flex-start;/*чтоб спсиок центровался*/


}


.abonements__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 265px;
    padding: 30px;
    padding-top: 58px;

    background-color: #ffffff;
    margin-right: 50px;
    flex-wrap: wrap;

    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.abonements__item--big{
    width: 300px;
}


.abonements__title{
    font-size: "Abhaya Libre";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
}


.abonements__item--big .abonements__title{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
}



.abonements__active{
    width: 173px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;


    text-align: center;

    color: #E65C7B;
    margin-bottom: 26px;
}


.abonements__item--big .abonements__active{
    margin-bottom: 38px;
}

.abonements__price{
    font-family: "Abhaya Libre";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 20px;
    /* identical to box height, or 67% */

    text-align: center;
    margin-bottom: 30px;
}


.abonements__item--big .abonements__price{
    margin-bottom: 50px; 
    font-weight: bold;
    font-size: 45px;
    line-height: 20px;
}

.our-teams{
    padding-top: 50px;
    padding-bottom: 50px; 
    background-image: url("../img/bg-team.png"),
                      url("../img/bg-team-2.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center left, center right;
    background-size: 1081px 1326px, 576px 514px;
    position: relative;
    
}


.our-teams-wrapper{
    width: 1009px;
    display: flex;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
    margin: 0 auto;
    margin-bottom: 30px;
}

.our-teams__img-column{
    width: 335px;
    height: 335px;
}

.our-teams__text-column{
    padding: 20px;
    width: 639px;
}

.mentor__name{
    font-family: "Abhaya Libre";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
}


.mentor__stage{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    color: #E65C7B;
}


.mentor__description{
    width: 558px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}

.mentor__description-part{
    margin-bottom: 20px; 
}


.text-title-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.our-team__nav{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
}


.our-team-card__nav-button{
    width: 45px;
    height: 30px;
    border: 1px solid #8E80A9;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 13px;
    background-color: #8E80A9;
}


.nav-button--prev{
    transform: rotate(-180deg);/*повернули на 180град*/
}


.button-active{
    background-color: #8E80A9;

    background-image: url("../img/arrow-active.svg");
    background-size: 8px 13px;*/
}


.our-team__page-counter{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8e80a9;
}

.preview__list{
    display: flex;
    justify-content: center;/*центруем список*/
    align-items: center;/*центруем список*/
}



.preview__item{
    margin-right: 30px;
    width: 125px;
    height: 125px;
}


.gallery{
    padding-top: 30px;
    padding-bottom: 50px;
}

.gallery__list{


    display: flex;
    flex-wrap: wrap;
    margin: 15px 44px 0 45px;
    padding: 30px 20px 20px 30px;

    box-shadow: 0 0 5px #f0ebf9;
    border-radius: 10px;
}

.gallery__item{/*флекс элеент*/
    display: flex;
    flex-flow: 1;
    margin-right: 10px;
    margin-bottom: 10px;

}

.gallery__item:nth-child(4n){
    margin-right: 0;
}

.gallery-img{
    width: 100%;
    object-fit: cover;/*Чтобы изображения увеличивалось только по ширине и при этом сохраняло свои пропорции при заполнении блока */
}


.reviews{
    padding-top: 30px;
    padding-bottom: 50px;
}

.reviews__list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 914px;

    margin: 0 auto;
    margin-bottom: 30px;
}

.reviews__item{/*флекс элемент, котрый сам флекс конетнр*/
    display: flex;
    flex-direction: column;

    width: 283px;
    margin-right: 30px;

    padding-left: 80px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
    background-color: #ffffff;
}

.reviews__item:nth-child(2n){
    margin-right:0;
}


.reviews__description{

    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    min-height: 140px;
    margin-bottom: 20px;
}

.reviews__container{/*флекс элемнт котрый сам флекс контенйер*/
    display: flex;
    align-items: flex-end;
    margin-top: auto;/*эдемент прижмется  книзу*/
}

.reviews-wrapper{/*флекс элемнт котрый сам флекс контенйер*/
    display: flex;/*ятобы фтку(псевдоэлемент) сдетаь флекс элементом*/

}

.reviews-wrapper--first::before{/*псевоэлемент ведет себя как флекс элемент во флекс контейнре*/
    content: "";

    width: 51px;
    height: 51px;

    background-image: url("../img/beard-1845166_1280%201.jpg");
    background-position:  left;
    background-repeat: no-repeat;
    margin-right: 20px;
}


.reviews-wrapper--second::before{/*псевоэлемент ведет себя как флекс элемент во флекс контейнре*/
    content: "";

    width: 51px;
    height: 51px;

    background-image: url("../img/girl-1848454_1280%201.jpg");
    background-position:  left;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.wrap-for-info{
    display: flex;
    flex-direction: column;

}


.reviews__socila-list{
    display: flex;
}


.reviews__social-item{
    width: 15px;
    height: 10px;

    display: flex;
    margin-right: 5px;
}

.social-link{
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.social-link--vk{
    background-image: url("../img/vk.svg");
}


.social-link--twitter{
    background-image: url("../img/twitter.svg");
}

.reviews__name{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: rgba(230, 92, 123, 0.7);

}

.reviews__date{
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    color: rgba(142, 128, 169, 0.7);
}

.reviews-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews-nav-button{
    margin: 0 15px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 13px;
}




.main-footer-top{
    background-image: url("../img/bg-footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

}

.main-footer-top-wrapper{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 65px;

}


.contacts-wrapper{
    width: 545px;
    margin: 170px 10px 0 135px;
}

.form__wrapper{

    margin-left: 65px;
}


.section-title-form{
    margin-top: 50px;
    font-family: "Abhaya Libre";
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
    width: 429px;
}

.main-footer-bottom{

    padding-top: 30px;
    padding-bottom: 74px;

    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color:rgba(255, 255, 255, 0.5);
    background-color: #8373A1;
}


.main-footer-bottom-wrapper{

    display: flex;
    margin-left: 135px;
    margin-right: 30px;
}



.contacts-list{
    display: flex;
    flex-wrap: wrap;
}

.contacts-item{
    margin-right: 50px;
    margin-bottom: 32px;
    min-width: 161px;
}


.contacts-item:nth-child(2n){
    margin-right: 0;
}

.contacts-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}


.contacts-description{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
}



.main-footer__social-list{
    display: flex;
    flex-wrap: wrap;
}


.social-item{
    display: flex;
    margin-right: 10px;

    width: 15px;
    height: 10px;
}




.feedback-form{
    width: 407px;
    display: flex;
    flex-direction: column;

}


.feedback-form__content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}


.social-link--fb{
    background-image: url("../img/facebook.svg");
}
.feedback-form__input-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 407px;
}



.feedback-form__input-wrapper label{
    align-self: flex-start;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(142, 128, 169, 0.4);
}


.feedback-form__input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #8E80A9;
    transform: rotate(0.14deg);
    background-color: transparent;
    color: #8e80a9;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}


.feedback-form__input:focus{
    outline: none;
}

.feedback-form__button{
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background-color: #E65C7B;
}


.copyright{
    margin-left: auto;
}