body {
    padding: 0;
    margin: 0;
    min-width: 1366px; /*мин ширина на котром смотреится мкет нормаьно,  этозначне еранво ширине самогом акета*/
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #333333;

}


html,
body {
    min-width: 1366px;/*ширина  макета*/
    min-height: 8817px;/*высота макета*/
}

a {
    text-decoration: none;
    color: #06A9B3;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}


.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


.container {
    width: 1166px;/*ширина контента*/
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;

}


.button{
    display: inline-block;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;


    padding: 15px 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */


    color: #FFFFFF;
    background-color:  #06A9B3;
    border: none;
}

/*.button:hover{
background-color: #EAF2F6;
color: aquamarine;
border: none;
outline: none;
}


.button:active{
background-color:  #06A9B3;

}*/


.page{
    display: grid;
    grid-template-rows: auto 1fr auto;/* 3 строки , 1 столблец*/
    grid-column-gap: 65px;

    grid-template-areas:
        "header"
        "content"
        "footer";
    min-height: 100vh;/*прижмем подвал к низу браузера*/
}


.page-header{/*грид элемент*/
    grid-area: header;
}

.page-content{/*грид элемент*/
    grid-area: content;
}


.promo{
    background-image: url("../img/promo.png");
    background-size: 1366px 520px;
}

.promo__content{/*грид контенйер*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);/*5 рядов*/
    grid-column-gap: 20px;
}


.promo__title{/*грид элемент*/
    grid-row: 1/2;
    grid-column: 2/7;
    /*grid-area: 1/2/2/7;*/
    padding-top: 100px;

    font-family: "Old Standard TT", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 64px;


    text-transform: uppercase;

    color: #EEE9E6;

}


.promo__text{/*грид элемент*/
    grid-row: 2/3;
    grid-column: 2/7;
    /*grid-area: 3/2/4/7;*/
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;



    color: #EEE9E6;

    opacity: 0.6;
}


.promo__button-wrapper{/*грид элемент*/
    grid-row: 3/4;
    grid-column: 2/5;
}


.promo__img-container{/*грид элемент*/
    grid-row: 1/-1;
    grid-column: 7/13;
}

.promo__img-container img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about{/*грид контейнер*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 24px;
    background-color: #E5E5E5;
    padding-top: 100px;
    padding-bottom: 65px;
}


.section-header {/*грид элемент*/
    grid-column: 2/5;
}

.about__paragraph{ /*грид элемент*/
    grid-column: 2/8;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #695A59;
}


.promo__container-right{/*грид элемент*/
    grid-column: 9/12;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #695A59;

}

.promo__container-right img{
    width: 276px;
    height: 160px;
}


.big-picture{/*грид элемент*/
    grid-column: 1/-1;
    width: 1166px;
    height: 304px;
    margin-bottom: 30px;
}


.promo__container-left{
    grid-column: 2/12; 
    display: grid;
    grid-template-columns: 672px auto;
    grid-column-gap: 20px;
}


.promo__container-left img{
    grid-column: 1/8;
    width: 672px;
    height: 360px;
    margin-bottom: 30px;
}

.promo__container-left-information{
    grid-column: 8/11;
}

.popular{
    background-color: #E5E5E5;
}

.popular__list{/*грид конейнер*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.popular__item{/*грид элемент^, котрый саи грид контенйер*/
    grid-column: span 4; /*начиная с начал через 4 столбца*/

    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 240px auto;
    grid-gap: 0 20px;
}

.popular__item-content{
    padding: 36px;
    background-color: #ffffff;
}

.popular__item--big{
    grid-column: span 6; /*начиная с начал через 6 столбцов*/
    grid-template-columns: 2fr 4fr;
    grid-template-rows: auto;
    grid-gap: 0;
}

.image-container img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.projects{
    padding-bottom: 120px;
    background-color: #E5E5E5;
}

.projects__content{/*грид контенер*/
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    grid-gap: 20px;
}


.slider{/*грид элемент, котрый сам грид конейнер*/
    grid-column: 2/12; /*либо можно так 2 / span 10;*/
    display: grid;
    grid-template-rows: auto 100px;
}


.slider img{/*грид элемент*/
    grid-row: 1/3;
    grid-column: 1/2;
}


.slider__description{/*грид элемент*/
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #343235;
}


.slider__description h3{
    font-family: "Old Standard TT", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */


    color: #F5F2ED;
}

.slider__btn--prev{/*грид элемент*/
    grid-column: 1/2;
}

.slider__btn--next{/*грид элемент*/
    grid-column: 12/13;
}


.mission{
    
}


.mission__content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto, auto, auto, auto;
}







.page-footer{/*грид элемент*/
    grid-area: footer;
}


