body {
    margin: 0;
    padding: 0;
    min-width: 1420px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;

    color: #888794;
    background-color: #ffffff;


}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6,
p {
    margin: 0;
    padding: 0;
}

.button {
    display: inline-block;
    padding: 20px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #FFFFFF;
    border: 1px solid #ffffff;



}



.section-title{
    text-align: center;
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    line-height: 77px;
    color: #757AA5;

}



.container {
    width: 1400px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.main-header{
    background-color: #F7F7FA;
}

.main-header__nav-wrapper{
    display: flex;
}

.main-header__logo{
    margin-top: 12px;
}

.site-navigation{
    display: flex;

    flex-wrap: wrap;
    align-items: flex-start;
    align-items: center;
    max-width: ;/*чтоб не было переполнения*/

    margin-left: 70px;

}

.site-navigation__item{
    margin-right: 30px;

}


.site-navigation__link{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;


    text-transform: uppercase;
    color: #8B7EAC;

    text-shadow: 0px 0px 20px #ECE7EC;
}


.main-header__links-part{
    display: flex;
    margin-left: auto;/*флекс элемент прижмется  к правому краю*/
    align-items: center;
}


.links-wrapper{
    display: flex;
}

.linkl{
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    color: #515076;
}


.promo__title{
    position: relative;
    
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: normal;
    font-size: 230px;
    line-height: 213px;
    color: #515076;

    padding-top: 128px;
    padding-bottom: 60px; 
}

.promo__title::after{
    content: "";
    position: absolute;
    top:-40px;
    left: 69px;
    
    width: 1451px;
    height: 1063px;

    background-image: url("../img/Group%2084.png");
    
    background-repeat: no-repeat;
    
    
}


.about{
    background-image: url("../img/bg-about-1.png");
    background-repeat: no-repeat;
    background-position: 0px 140px;/* отсчет от левого верхнего угла*/
    
}



.about__wrapper{
    display: flex; 
}

.about-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 390px; 
    margin-right: 108px;
    flex-shrink: 0;
}

.about-column:last-child{
    margin-right: 0;
}

.about-column__title{
    margin-bottom: 650px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    color: #63678C;
}


.about-column__text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;

    color: #888794;
}


.about-column__text span {
    font-weight: bold;
    font-size: 18px;
    line-height: 31px;
    color: #8888A8;
}

.definition{
    margin-bottom: 40px; 
}


.about-column__button{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    margin-bottom: 40px;

    background-color: #515076;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.32em;
    text-transform: uppercase;

    color: #FFFFFF;

    opacity: 0.9;
    border-radius: 100px;

}

.about-column__note{ /*флекс элемент*/
    width:200px;
    margin-top: 595px;
    align-self: flex-end;

    font-weight: 500;
    font-size: 16px;
    line-height: 29px;


    text-align: right;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #888794;
    margin-bottom: 90px;
}

.about-column__slogan{
    
    font-weight: 300;
    font-size: 36px;
    line-height: 39px;
    color: #757AA5;
    position: relative;
}


.about-column__slogan::after{
    content: "";
    position: absolute;
    
    top:0;
    right: 0;
    width: 1772px;
    height: 702px;
    
    /*background-image: url("../img/bg2-about.png");
    background-repeat: no-repeat;
    background-position: center;*/
    
}


.products{
    padding-bottom: 180px;
    padding-top: 200px;

    background-image: url("../img/bg-catalog.png");
    background-size: 738px 619px;
    background-repeat: no-repeat;
    background-position: top left;
}


.products .section-title{
    margin-bottom: 60px;
}


.products__list{
    display: flex;
    align-items: flex-end;
    width: 1098px;
    margin: 0 auto;

}

.products__item{
    display: flex;
    flex-direction: column;

    margin-right: 30px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 62px;
    padding-bottom: 20px;

    background-color: #F7F7FA;
}

.products__item:nth-child(3n){
    margin-right: 0;
}

.products__item--big{
    padding-top: 69px;
    position: relative;/*для знака процента*/
}


.products__item--big::before{/*псевдоэлемент скидка*/
    content: "";
    position: absolute;
    top:20px;
    left: 20px;

    width: 68px;
    height: 68px;
    background-image: url("../img/discount.svg");
}


.products__img{
    width: 289px;
    height: 244px;
}

.products__item--big .products__img{
    width: 340px;
    height: 325px;
}

.products__info{
    display: flex;
    flex-direction: column;
}

.products__skin{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;

    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #A5A3B9;
}

.products__name{
    max-height: 52px;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;


    color: #515076; 
}

.products__price-wrapper{
    display: flex;/*для псевдоэлемента, чтобы он был флексэлементом */
    justify-content: space-between;
    margin-top: auto;/* флекс эдемент прижмется  к низу*/
}

.products__price-wrapper::after{/*псевдожлемент  корзина является флекс элементом*/
    content: "";
    width: 28px;
    height: 28px;
    background-image: url("../img/bucket.svg");
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: right;
}


.product__price{
    font-weight: 500;
    font-size: 20px;
    line-height:27px;


    color: #515076;
}

.action{
    padding-bottom: 145px;
    background-image: url("../img/bg-sales.png");
    background-repeat: no-repeat;
    background-position: 0px 250px; /*отсчет идет от леовго верхнего угла*/
}

.action__wrapper{
    display: flex;
    justify-content: flex-start;
    width: 1176px;
    margin: 0 auto;
    margin-bottom: 250px;

}

.action__text-column{/*флекс элемент*/
    width: 333px;
    margin-right: 200px;
    flex-shrink: 0;

}

.action-title{
    text-align: left;
    margin-bottom: 50px;
}

.action__text{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
}

.action__image-column{
    width: 750px;
    background-color: #F7F7FA;
    box-shadow: -40px 40px 0px #515076;
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 62px;

}

.action__image-column__wrapper{
    display: flex;
}

.text-wrapper{
    width: 400px;
}


.text-description{
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    color: #4c5072;
}

.text-little{
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #888794;
}

.img-wrapper{
    width: 296px;
}



.action__list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    justify-content: center;
}

.action__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 350px;/**/

    padding-top: 0;
    margin-right: 35px;
    background-color: #F7F7FA;
}

.action__content-wrapper{
    padding: 40px;
}

.action__item:nth-child(3n){
    margin-right: 0;
}



.sales{
    width: 100%;
    font-size: 36px;
    line-height: 49px;
    color: #515076;
    text-align: center;
}


.action__item--first .sales{
    background-color: rgba(81, 80, 118, 0.1);
    padding-top: 65px;
    padding-bottom: 65px;


}


.action__item--second .sales{

    background-color: rgba(81, 80, 118, 0.15);
    padding-top: 50px;
    padding-bottom: 50px;

    margin-bottom: 87px;
}

.action__item--third .sales{
    background-color: rgba(81, 80, 118, 0.2);
    padding-top: 75px;
    padding-bottom: 75px;

    margin-bottom: 150px;
}

.action__price-wrapper{/*флекс элемент, котрый самф лекс контенер*/
    display: flex;
    justify-content: space-between;
    margin-top: auto;/*элемент прижмется  книжнему краю*/
}


.action__price-wrapper::after{
    content: "";
    width: 28px;
    height: 28px;

    background-image: url("../img/bucket.svg");

    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: right;
}

.action__description{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #515076;
    margin-bottom: 20px;

    max-height: 100px;/*дл переполенения текстом*/
    overflow: hidden;
    text-overflow: ellipsis;/*многоточим*/
}

.old-price{

}


.profits{
    background-color: #EDECF6;
    background-image: url("../img/dg-profits.png");
    background-repeat: no-repeat;
    background-position: top 400px right;/*от верхнего края этого блока отсчитываем 400   */
    background-size: 638px 1196px;

}


.profits__title{
    margin-top: -20px;
    font-family: "Playfair Display", "Arial", sans-serif;
    font-weight: normal;
    font-size: 330px;
    line-height: 305px;
    color: #d6d4e7;
    text-align: center;
    background-image: linear-gradient(to bottom, #ffffff 210px, transparent 210px, transparent 100%);
}


.testing{
    padding-top: 150px;
    padding-bottom: 100px;
}

.testing__wrapper{
    display: flex;
    justify-content: flex-start;

}

.testing__img-column{/*флекс элемент*/
    width: 850px;
    flex-shrink: 0;
}

.testing__text-column{/*флекс элемент*/
    width: 460px;
    padding-top: 141px;
    flex-shrink: 0;
    margin-left: 30px;
}

.testing__title{
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    /* or 29px */

    letter-spacing: 0.3em;
    text-transform: uppercase;

    /* label text */

    color: #A5A3B9;
}


.testing__count {
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    line-height: 77px;
    color: #515076;
    margin-bottom: 60px;

}

.testing__count span{
    font-style: normal;
    font-weight: 300;
    font-size: 120px;
    line-height: 131px;
    color: #515076;
}


.testing__dscription{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #888794;
}

.advices{
    padding-top: 120px;
    padding-bottom: 100px;
    background-color: #ffffff;
}

.advices .section-title{
    margin-bottom: 80px;
}

.advices__list{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    padding-top: 87px;
    padding-bottom: 10px;
    max-height: 900px;
}

.advices__item{
    width: 237px;

    display: flex;
    flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;

    padding-top: 36px;
    padding-left: 48px;
    padding-right: 14px;
    padding-bottom: 35px;
    background-color: #F7F7FA;


    box-shadow: 0 -6px 0 #515076;
}


.advices__item:last-child,
.advices__item:first-child{
    margin-top: 100px;
}


.advices__main-title{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;


    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #A5A3B9;
}


.advices__title{
    min-height: 56px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;

    color: #515076;
}


.advices__description{

    max-height: 101px; /*чтобы текста много не было*/
    overflow: hidden;
    text-overflow: ellipsis;/*многоточим*/
    margin-bottom: 83px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #888794;

}



.advices__link{
    display: inline-block;
    margin-top: auto;/*флекс лемент прижмется  к низу*/

    font-weight: 500;
    font-size: 12px;
    line-height: 24px;


    letter-spacing: 0.23em;
    text-transform: uppercase;



    color: #515076;
}


.authors{
    padding-bottom: 5px;
}


.authors__wrapper{
    display: flex;
}

.authors__text-column{
    width: 670px;
    margin-right: 20px;
}

.authors__img-column{
    width: 600px;
}


.authors__name{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #515076;

    margin-bottom: 24px;
}

.authors__info{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;

    color: #888794;
    margin-bottom: 39px;
}


.authors__review-text{
    display: flex;/*дял псевдоэлемента кавычки6 чтоб это был флекс элементом*/

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;

    color: #888794;
    margin-bottom: 40px;
}


.authors__preview-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;


}

.authors__preview-name{
    margin-right: 36px; 
}


.authors__preview-name:last-child{
    margin-right: 0;
}


.preview-name--active{
    box-shadow: 0px -6px 0px #515076;
}

.main-footer{
    padding-top: 200px;
    padding-bottom: 300px;

    background-color: #ffffff;
    background-image: url("../img/bg-footer.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 275px; /*высота контента*/
}


.contacts{
    width: 443px;
    padding: 50px 10px 62px 78px;
    background-color: #f7f7fa;
    box-shadow: 0 -6px 0 #515076;
    margin-left: 300px;
}


.contacts__title{
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    line-height: 77px;


    display: flex;
    align-items: center;

    color: #757AA5;
}


.contacts__phone,
.contacts__address{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:32px;

    color: #828282;
    margin-bottom: 20px;
}


.contacts__solical-list{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}


.solical-list-item{
    display: flex;
    margin-right: 23px;
    width: 31px;
    height: 28px;
}


.solical-list-item:last-child{
    margin-right: 0;
}

.social-list-link{
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.social-link-fb{
    background-image: url(../img/facebook-app-logo.svg);
}

.social-link-insta{
    background-image: url(../img/instagram-logo.svg);
    width: 23px;
    height: 21px;
}